#lang-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* This will spread the buttons evenly */
  align-items: flex-start; /* Align to the start to avoid stretching */
}

/* Style for the buttons */
#lang-selection .lang-option {
  flex-grow: 1; /* Allow buttons to grow */
  margin: 0 4px; /* Provide some spacing between buttons */
  white-space: nowrap; /* Prevent text from wrapping */
}

/* Pseudo-element to push the last line of buttons */
#lang-selection::after {
  content: '';
  flex-grow: 1000000; /* Large growth factor to push elements */
  min-width: 0.1px; /* Prevents the pseudo-element from being too big */
}

/* Optional: media query for smaller screens to prevent buttons from being too wide */
@media (max-width: 600px) {
  #lang-selection .button {
    flex-basis: 50%; /* Minimum initial width */
  }
}

.lang-option > button {
  padding: 0;
}

.lang-option > button > div {
  padding: 5px !important;
  text-align: center;
}
